@page "/empleadoform"
@page "/empleadoform/{Id:int}"
@rendermode InteractiveServer
@using PistaCombustible.Models
@using PistaCombustible.Services
@using DevExpress.Blazor
@using System.Text.RegularExpressions;
@inject EmpleadoService EmpleadoService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IToastNotificationService ToastService

<PageTitle>Gestión de empleados</PageTitle>

<div style="width: 80%;margin: auto;">
    <h1>@(Id == null ? "Crear" : "Editar")  empleado</h1>

    <div class="card p-4 shadow">
       <EditForm
        Model="@empleado" 
        Context="editContext"
        OnValidSubmit="@GuardarEmpleado">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <DxFormLayout 
            CssClass="w-100 demo-form-layout">
                <DxFormLayoutItem 
                Caption="* Nombre:"
                Field="@nameof(Empleado.Nombre)">
                    <DxTextBox 
                    @bind-Text="empleado.Nombre"
                    NullText="Ingrese un nombre." />
                    <ValidationMessage For="@(() => empleado.Nombre)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem 
                Caption="* Apellido:"
                Field="@nameof(Empleado.Apellido)">
                    <DxTextBox 
                    @bind-Text="empleado.Apellido"
                    NullText="Ingrese un apellido." />
                    <ValidationMessage For="@(() => empleado.Apellido)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem 
                Caption="* Email:"
                Field="@nameof(Empleado.Email)">
                    <DxTextBox 
                    @bind-Text="empleado.Email"
                    NullText="Ingrese un correo electrónico válido." />
                    <ValidationMessage For="@(() => empleado.Email)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem 
                Caption="* Fecha de Nacimiento:"
                Field="@nameof(Empleado.FechaNacimiento)">
                    <DxDateEdit 
                    @bind-Date="empleado.FechaNacimiento" 
                    DisplayFormat="dd/MM/yyyy"
                    Mask="@DateTimeMask.ShortDate"
                    NullText="Seleccione una fecha." />
                    <ValidationMessage For="@(() => empleado.FechaNacimiento)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem 
                Caption="* Salario:"
                Field="@nameof(Empleado.Salario)">
                    <DxSpinEdit 
                    @bind-Value="empleado.Salario" 
                    DisplayFormat="c" 
                    MinValue="0"
                    NullText="Ingrese un salario." />
                    <ValidationMessage For="@(() => empleado.Salario)" />
                </DxFormLayoutItem>

                <DxFormLayoutItem 
                Caption="Activo:">
                    <DxCheckBox 
                    @bind-Checked="empleado.Activo" 
                    CheckType="CheckType.Switch"
                    LabelPosition="LabelPosition.Left" />
                </DxFormLayoutItem>
            </DxFormLayout>

            <div class="w-100 mx-0 mt-3 d-flex gap-2">
                <DxButton 
                RenderStyle="ButtonRenderStyle.Primary" 
                SubmitFormOnClick="true" >
                    <i class="me-2 bi bi-check-circle"></i> Guardar
                </DxButton>
                @if (Id == null)
                {
                    <DxButton 
                    RenderStyle="ButtonRenderStyle.Secondary" 
                    Click="LimpiarFormulario">
                        <i class="me-2 bi bi-arrow-counterclockwise"></i> Limpiar
                    </DxButton>
                }
                <DxButton 
                RenderStyle="ButtonRenderStyle.Danger" 
                Click="Cancelar"><i
                    class="me-2 bi bi-x-circle"></i>Cancelar
                </DxButton>
            </div>
        </EditForm>
    </div>
</div>

@code {

    [Parameter]
    public int? Id { get; set; }
    private Empleado empleado = new();

    protected override async Task OnInitializedAsync()
    {
        await CargarEmpleados();
    }

    /// <summary>
    /// Carga empleados
    /// </summary>
    /// <returns></returns>
    private async Task CargarEmpleados()
    {
        try
        {
            if (Id != null)
            {
                empleado = await Task.Run(() => EmpleadoService.GetEmpleadoById(Id.Value));
            }
            else
            {
                empleado = new Empleado();
                empleado.Activo = true;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar empleados: {ex.Message}");
        }
    }

    /// <summary>
    /// Guarda o actualiza el empleado
    /// </summary>
    private async Task GuardarEmpleado()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(empleado.Nombre) ||
                string.IsNullOrWhiteSpace(empleado.Apellido) ||
                string.IsNullOrWhiteSpace(empleado.Email) ||
                empleado.FechaNacimiento == null ||
                empleado.Salario == null)
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "Por favor, complete todos los campos requeridos.",
                    RenderStyle = ToastRenderStyle.Danger
                });
                
                return;
            }

            if(empleado.FechaNacimiento > DateTime.Now)
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "La fecha de nacimiento no puede ser futura.",
                    RenderStyle = ToastRenderStyle.Warning
                });
                return;
            }

            if(DateTime.Now.Year - ((DateTime)empleado.FechaNacimiento).Year < 18)
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "La fecha de nacimiento no es valida. El empleado debe ser mayor de 18 años.",
                    RenderStyle = ToastRenderStyle.Warning
                });
                return;
            }

            if(!Regex.IsMatch(empleado.Email, @"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$", RegexOptions.IgnoreCase))
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "El correo electrónico no es válido.",
                    RenderStyle = ToastRenderStyle.Warning
                });
                return;
            }

            Empleado? empleadoExistente = EmpleadoService.GetEmpleados().Find(e => e.Email == empleado.Email && e.Id != empleado.Id);

            if(empleadoExistente != null)
            {
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "Por favor, el correo electrónico ya existe.",
                    RenderStyle = ToastRenderStyle.Warning
                });
                return;
            }

            if (Id != null)
            {
                await Task.Run(() => EmpleadoService.UpdateEmpleado(empleado));
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "Empleado actualizado correctamente.",
                    RenderStyle = ToastRenderStyle.Success
                });
                Navigation.NavigateTo($"/empleados");
            }
            else
            {
                await Task.Run(() => EmpleadoService.AddEmpleado(empleado));
                ToastService.ShowToast(new ToastOptions
                {
                    ProviderName = "Notificacion",
                    Title = "Información",
                    Text = "Empleado creado correctamente.",
                    RenderStyle = ToastRenderStyle.Success
                });
                LimpiarFormulario();
            }
            
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("alert", "Error al salvar empleados " + ex.Message);
        }
    }

    /// <summary>
    /// Cancela el formulario
    /// </summary>
    private void LimpiarFormulario()
    {
        empleado = new Empleado()
        {
            Activo = true,
            FechaCreacion = DateTime.Now
        };
    }

    /// <summary>
    /// Cancela el formulario
    /// </summary>
    private void Cancelar()
    {
        Navigation.NavigateTo($"/empleados");
    }
}
